span {
    display: inline-block;
  }
   span {
    display: inline-block;
    padding: 0px;
   
  } 
   
 /* #one {
    background-color:lightblue;
    width: 150px;
    height: 200px;
  }
  
  #two {
    background-color: cornflowerblue;
    width: 200px;
    height: 50px;
  }
  
  #three {
    background-color: rgb(187, 189, 243);
    width: 175px;
    height: 150px;
  } */
  
  div,
  span {
    margin: 1px;

  }
  
  span {
   padding: 10px 15px;
  }
  
  
#pic {
    width: 100%;
    height: auto;
    background-color: white;
    text-align:center;
}

#pic img {
    width: 100%;
    height: auto;
}
  /*#text span {
    padding: 25px 30px;
  }
 
  #text span {
    background-color: white;
  } */
  
  li{
    display: inline;
    padding: 2%;
    text-decoration: none;
  }
  ul{
    padding: 0%;
    display:inline;
  }
  
  .logo{
    padding-right: 2%;
  }
  #icons{
    padding-left:0%;
    text-align:center;
    padding-top:3%;
    
  }
  .rightMenu{
    padding-left:2%;
    text-decoration: none;
    margin-left:10%;
  }
 #mini-layout{
    float:left;
    display:flex;

 }